
.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1vh 10vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 500;
    background: rgba(215, 215, 215, 0.85);
}
#notHidden{
    display: none;
}
@media only screen and (max-width: 850px) {
    #hidden{
        display: none;
    }
    #notHidden{
        display: block;
    }
}

.navLinkList{
    display: flex;
    flex-direction: row;
    list-style-type:none ;
    background: transparent;
}

.navLinkListIteam{
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
    background: transparent;
}


.navLinkListIteam:hover a{
    color: green;
}

.navLinkListIteam a{
    text-decoration: none;
    color: black;
}
.navBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn{
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 3px;
    background: rgba(215, 215, 215, 0.85);
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 10px;
}
.btn:hover{
    border: 1px solid black;
    color: whitesmoke;
    background: black;
}
.hamburger{
    border: none;
}

.hamburger:hover{
    background: rgba(0, 0, 0, 0.301);
}

.menuContainer{
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(70, 70, 70);
}
.menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(210, 210, 210);
}
.menu button{
    background: transparent;
    border: none;
    padding: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
}
.menu ul li{
    padding: 15px;
}
.navLinkA{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 26px;
}
.menu ul li .navLinkA{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 26px;
}
.line::after{
    content: '';
    height: 1px;
    width: 100vw;
    color: red;
}